body {
  background: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./Penguin.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.child {
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 23rem;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.title {
  font-weight: bold;
}

.submitBtn {
  background: #eca31b;
  padding: 0.3rem;
  margin: 3px;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  font-weight: 600;
}

.submitBtn:hover {
  background: #eca31bce;
  cursor: pointer;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
  font-size: 12px;
}
